.page {
  margin: 0 auto;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  --primary_font-color: #FFFFFF;
  --second-primary-color: #E9EBF7;
  --button-color: #FF00D6;
  --nout-color: #C378F7;
  --title-font-color: #1D1D1D;
  --subtitle-font-color: #535353;
  --link-font-color: #6E8BF8;
  --link-main-color: #3BA3FF;
}