@import url(../animation/jello-horizontal.css);

.baner {
  background-color: var(--second-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baner__box {
  width: calc(950px + (1160 - 950) * ((100vw - 320px) / (2560 - 320)));
  box-shadow: 0px 10px 35px -6px rgba(0, 0, 0, .25);
  border-radius: 10px;
  position: relative;
  top: 150px;
  
}

.image {
  background: url(../../images/baner-img.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient {
  background: linear-gradient(93.01deg, #BE30D2 6.8%, #7188F7 99.21%);
  
}

.baner__title {
  margin: 55px 42px 32px;
  font-weight: 900;
  font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (2560 - 320)));
  line-height: calc(22px + (49 - 22) * ((100vw - 320px) / (2560 - 320)));
  color: var(--primary_font-color);
}

.baner__offer {
  display: flex;
  margin: 0 42px 57px;
}

.min {
  width: 146px;
}

.max {
  width: 730px;
}

.baner__button {
  width: 273px;
  height: 66px;
  margin-right: 35px;
  border: none;
  background-color: var(--button-color);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary_font-color);
  transition: transform .3s ease-in;
  box-shadow: 0px 10px 30px -3px rgba(0, 0, 0, .25);
}

.baner__button:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.baner__button:active {
  animation: jello-horizontal .9s both;
}

.baner__comment {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary_font-color);
  
}

.baner__comment span {
  font-weight: 700;
}

@media screen and (max-width: 1050px) {
  .baner__box {
    width: calc(300px + (940 - 300) * ((100vw - 320px) / (1050 - 320)));
  }

  .baner__title {
    margin: 55px 20px 56px;
  }

  .baner__offer {
    margin: 0 20px 57px;
  }

  .mobaile {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .baner__title {
    margin: 50px 10px 20px;
  }

  .baner__offer {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 50px;
    gap: 20px;
  }

  .baner__button {
    width: calc(279px + (615 - 279) * ((100vw - 320px) / (700 - 320)));
    margin-right: 0;
  }

  .baner__comment {
    width: calc(279px + (750 - 279) * ((100vw - 320px) / (1050 - 320)));
  }

  .mobaile {
    order: -1;
  }
}