@import url(../animation/jello-horizontal.css);

.baner {
  background-color: var(--second-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baner__box {
  width: calc(893px + (1160 - 893) * ((100vw - 320px) / (2560 - 320)));
  box-shadow: 0px 10px 35px -6px rgba(0, 0, 0, .25);
  border-radius: 10px;
  position: relative;
  top: 150px;
}

.image {
  background-image: url(../../images/baner-img.png);
  object-fit: contain;
}

.gradient {
  background: linear-gradient(93.01deg, #BE30D2 6.8%, #7188F7 99.21%);
}

.baner__title {
  margin: 55px 42px 32px;
  font-weight: 900;
  font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (2560 - 320)));
  line-height: calc(22px + (49 - 22) * ((100vw - 320px) / (2560 - 320)));
  color: var(--primary_font-color);
}

.baner__offer {
  display: flex;
  align-items: center;
  margin: 0 42px 57px;
}

.min {
  width: 146px;
}

.max {
  width: 730px;
}

.baner__button {
  width: 273px;
  height: 66px;
  margin-right: 35px;
  border: none;
  background-color: var(--button-color);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary_font-color);
  transition: transform .3s ease-in;
  box-shadow: 0px 10px 30px -3px rgba(0, 0, 0, .25);
}

.baner__button:hover {
  opacity: .8;
  cursor: pointer;
}

.baner__button:active {
  animation: jello-horizontal .9s both;
}

.baner__comment {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary_font-color);
  
}

.baner__comment span {
  font-weight: 700;
}