.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__container {
  padding-top: calc(75px + (120 - 75) * ((100vw - 320px) / (2560 - 320)));
  margin-bottom: calc(75px + (120 - 75) * ((100vw - 320px) / (2560 - 320)));
  width: calc(950px + (1160 - 950) * ((100vw - 320px) / (2560 - 320)));
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.intro__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: calc(310px + (640 - 310) * ((100vw - 320px) / (1920 - 320)));
}

.intro__picture {
  width: 417px;
  object-fit: contain;
}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(27px + (49 - 27) * ((100vw - 320px) / (1920 - 320)));
  color: var(--title-font-color);
  transform: translateY(0);
  opacity: 1;
  transition: transform 400ms ease-in-out, opacity 400ms ease-out;
}

.intro__title-active {
  transform: translateY(50px);
  opacity: 0;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro__item {
  font-weight: 500;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(21px + (30 - 21) * ((100vw - 320px) / (1920 - 320)));
  padding-left: 120px;
  position: relative;
}

.intro__item:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 50px;
}

.intro__item:nth-child(1) {
  padding-bottom: 30px;
}

.point-one {
  background-image: url(../../images/ping1.png);
  background-repeat: no-repeat;
}

.point-two {
  background-image: url(../../images/ping2.png);
  background-repeat: no-repeat;
}

.point-three {
  background-image: url(../../images/ping3.png);
  background-repeat: no-repeat;
}

.intro__item::before .point-one {
  content: "";
  object-fit: contain;
  width: 93px;
  height: 84px;
  position: absolute;
  top: 5px;
  left: 0;
}

.intro__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(21px + (30 - 21) * ((100vw - 320px) / (1920 - 320)));
}

.intro__link {
  text-decoration: none;
  width: 156px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--link-main-color);
  padding: 18px 71px;
  border: 1px solid var(--link-main-color);
  border-radius: 10px;
  transition: transform .3s ease-in;
}

.intro__link:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 1050px) {
  .intro__container {
    width: calc(300px + (940 - 300) * ((100vw - 320px) / (1050 - 320)));
  }
}

@media screen and (max-width: 1020px) {
  .intro__picture {
    width: 300px;
  }

  .intro__block {
    align-items: flex-start;
  }
}

@media screen and (max-width: 900px) {
  .intro__container {
    align-items: center;
  }

  .intro__block {
    flex-direction: column;
    gap: 45px;
  }

  .intro__block div:nth-child(2) {
    order: -1;
  }

  .intro__item {
    padding-left: 100px;
  }

  .intro__item::before .point-one {
    width: 59px;
    height: 59px;
  }
}

@media screen and (max-width: 320px) {
  .intro__picture {
    align-self: center;
    width: 200px;
  }
}