.header {
  background: linear-gradient(91.25deg, #BF2ED1 .92%, #985CE4 51.04%, #6E8BF8 99.92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(14px + (29 - 14) * ((100vw - 320px) / (1024 - 320)));
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(950px + (1160 - 950) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(40px + (111 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.header__logo {
  max-width: 220px;
  max-height: 40px;
  object-fit: contain;
  object-position: top;
}

.header__menu {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(500px + (600 - 500) * ((100vw - 320px) / (1920 - 320)));
 
}

@media screen and (max-width: 1950px) {
  .header__menu {
    margin-right: calc(10px + (26 - 10) * ((100vw - 320px) / (1950 - 320)));
  }
}

.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary_font-color);
  text-decoration: none;
}

.header__link:hover {
  opacity: .5;
}

.header__button {
  display: flex;
  justify-content: space-between;
  width: 311px;
}

@media screen and (max-width: 750px) {
  .header__button {
    display: none;
  }
}

.header__login {
  border: 1px solid var(--primary_font-color);
  border-radius: 10px;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--primary_font-color);
  background-color: transparent;
  margin-right: calc(10px + (26 - 10) * ((100vw - 320px) / (1950 - 320)));
  transition: transform .3s ease-in;
}

.header__login:hover {
  opacity: .8;
  cursor: pointer;
}

.header__login:active {
  animation: jello-horizontal .9s both;
}

.header__register {
  background-color: #f8f8f8;
  border-radius: 10px;
  border: none;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #434343;
  transition: transform .3s ease-in;
}

.header__register:hover {
  opacity: .8;
  cursor: pointer;
}

.header__register:active {
  animation: jello-horizontal .9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, .75, 1);
  }
  40% {
    transform: scale3d(.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, .85, 1);
  }
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: calc(950px + (1160 - 950) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 70px;
}

.header__cover {
  width: calc(300px + (705 - 300) * ((100vw - 320px) / (1920 - 320)));
}

@media screen and (max-width: 1050px) {
  .header__navigation, .header__content, .header__cover {
    width: calc(300px + (940 - 300) * ((100vw - 320px) / (1050 - 320)));
  }

  .header__menu {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header__content {
    flex-direction: column;
    align-items: center;
  }

  .header__cover {
    margin-bottom: 30px;
  }
}

.header__title {
  font-weight: 900;
  font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(27px + (49 - 27) * ((100vw - 320px) / (1920 - 320)));
  color: var(--primary_font-color);
  margin: calc(11px + (26 - 11) * ((100vw - 320px) / (1920 - 320))) 0;
}

.header__subtitle {
  font-weight: 500;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(17px + (24 - 17) * ((100vw - 320px) / (1920 - 320)));
  color: var(--primary_font-color);
  max-width: 550px;
  margin-bottom: 40px;
}

.header__submit {
  background-color: var(--button-color);
  border-radius: 10px;
  border: none;
  padding: 18px 75px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--primary_font-color);
  transition: transform .3s ease-in;
}

.header__submit:hover {
  opacity: .8;
  cursor: pointer;
}

.header__submit:active {
  animation: jello-horizontal .9s both;
}

.header__wrapper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 435px;
}

.header__wrapper {
  max-width: 147px;
}

.header__note {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary_font-color);
 
}

.header__note span {
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .header__subtitle {
    margin-bottom: 20px;
  }

  .header__wrapper-row {
    flex-direction: column;
  }

  .header__wrapper {
    padding-top: 17px;
    max-width: 100%;
  }

  .header__submit {
    padding: 18px 90px;
  }

  .header__note {
    font-size: 14px;
  }
}

.header__picture {
  width: 337px;
  object-fit: contain;
}

@media screen and (max-width: 1020px) {
  .header__picture {
    width: 305px;
  }
}

@media screen and (max-width: 320px) {
  .header__picture {
    width: 195px;
  }
}